body {
    background-color:rgb(117, 111, 111);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.player {
    background-color: grey;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.song {
    background-color:darkslategrey;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.title {
    font-size: 20px;
    margin: 0;
}
.artist {
   
    color:black;
    margin: 0;
}
